# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directories
venv/
env/
ENV/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files and databases
*.log
*.sqlite3

# Ignore compiled C++ files
*.out
*.o
*.obj
*.exe
*.dll
*.so
*.dylib

# Ignore build directories
build/
dist/